*{
    box-sizing: border-box;
    margin: 0;
    padding:0; 
}

.container{
    width:80%;
    margin: auto;
}

.clr{
    clear: both;
}



/* navbar */

.nav {
    background-color:rgba(0,0,0,0.8);
    overflow: auto;
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 18px 0;
    
}

.link1{
    float: left;
    color: #ff305b;
    font: 24px 'Roboto', sans-serif;
    font-weight: 800;
}

.links{
    float: right;
    list-style-type: none;
}
.links li a , .link1 {
     text-decoration: none;
}

.links li a{
    color: #fff;
    font: 16px 'Roboto', sans-serif ;
    font-weight: 300;

}
.links li{
    
    float: left;
    padding: 10px;
}
/* home section */

.home{
  position: relative;
}

.home-content{
    background-color:rgba(0,0,0,0.8);
    position: absolute;
    text-align: center;
    top:0;
    width: 100%;
    height: 100vh;
    padding-top: 290px;
    
}
.home img{
    height: 100vh;    
}

.home-content h3{
    color: #ffffff;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.home-content h1{
    color: #ff305b;
    font-size: 70px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.home-content h4{
    color: #fff;
    font-weight:lighter;
    font-size: 26px;
    font-family: 'Source Sans Pro', sans-serif;
}

/* media query */

@media screen and (max-width:568px){

    /* navbar */
    
    .link1{
        font-size: 18px ;
        font-weight: 600;
    }

    .links li a{
        font-size: 12px ;
        font-weight: 100;
    }

    .links li{
        padding: 4px;
    }

    /* home section */

  .home img{
      width:100%;
      height: 100vh;    
  }
  
  .home-content h3{
      font-size: 20px;
  }
  
  .home-content h1{
      font-size: 50px;
  }
  
  .home-content h4{
      font-size: 23px;
  }
}

@media screen and (min-width:569px) and (max-width:768px){
      /* navbar */
    
      .link1{
        font-size: 18px ;
        font-weight: 600;
    }

    
    .links li a{
        font-size: 12px;
        font-weight: 100;
    
    }
    .links li{
        padding: 5px;
    }

    /* home section */


  .home img{
      width:100%;
      height: 100vh;    
  }
  
  .home-content h3{
      font-size: 20px;
  }
  
  .home-content h1{
      font-size: 60px;
  }
  
  .home-content h4{
      font-size: 25px;
  }
}

@media screen and (min-width:769px) and (max-width:992px){
  
          /* navbar */
    
          .link1{
            font-size: 25px ;
            font-weight: 600;
        }
        
        .links li a{
            font-size: 14px;
            font-weight: 100;
        }
        .links li{
            padding: 8px;
        }
    
        /* home section */
       .home img{
            width:100%;
            height: 100vh;    
        }
        
      .home-content h3{
           font-size: 20px;
        }

      .home-content h1{
          font-size: 60px;
        }

      .home-content h4{
          font-size: 25px;
        }
  
}

@media screen and (min-width:993px){

       /* home section */
       .home img{
        width:100%;
        height: 100vh;    
    }
}

/* about section */

 .about{
     padding: 100px 0 130px;
 }

.about-img{
    width:50%;
    float: left;
    text-align: center;
    border-radius: 5px;  
}

.picture img{
    border-radius: 5px;   
}

.headr{
    width:50%;
    border-bottom: dotted 1px #999999;
}

.header{
    width:4px;
    height: 21.6px;
    float: left;
    background-color: #ff305b;
    margin-top:13px ;
}

.header2{
    float: left;
    font:34px 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-left: 13px;
    color: #333333;
    margin-bottom: 25px;
}

.headr p{
    color:#555555;
    font:16px  'Roboto', sans-serif ;
    margin-bottom: 25px;
    line-height: 1.5em;
}

.info-list{
    width:40%;
    margin-top: 25px;
}

.info-list ul{
    list-style-type: none;
}

.info-list ul li{
    color:#555555;
    margin-bottom: 20px;
    font:16px  'Roboto', sans-serif ;

}

.info-list span{
    color: #333333;
    font-weight: 800;
}

.info-list .list1{
    float: left;
}

.info-list .list2{
    float: right;
}

.personal-info .info-list{
    float: left;
} 

.download-cv{
    width:50%;
}

.shared{
    float: right;
}

.download-cv{
    margin-top: 20px;
}

.download-cv .a{
      background-color: crimson;
      border-radius: 4px;
      color: #ffffff;
      text-decoration: none;
      padding: 10px 24px;
      margin-right: 10px
}

/* media query */

@media screen and (max-width:568px){

    /* about section */

 .about{
    padding: 80px 0 100px;
}

.about-img{
   width:100%; 
}

.picture img{
   width:100%;   
}

.headr{
   width:100%;
}
 
 .header2{
    font:29px ;
 }

.info-list .list1 , .list2 , .info-list{
   width:100%;
}

.download-cv{
   width:100%;
}

.shared{
   float:left;
}

}

@media screen and (min-width:569px) and (max-width:768px){
    .container{
        width:60%;
        margin: auto;
    }
    .about{
        padding: 80px 0 100px;
    }
    
    .about-img{
       width:100%; 
    }
    
    .picture img{
       width:100%;   
    }
    
    .headr{
       width:100%;
    }
     
     .header2{
        font:29px ;
     }
    
    .info-list .list1 , .list2 , .info-list{
       width:100%;
    }
    
    .download-cv{
       width:100%;
    }
    
}

@media screen and (min-width:769px) and (max-width:992px){
        /* about section */
        .container{
            width:100%;
        }
        .about{
            padding: 70px 0 90px;
        }
       
       .about-img{
           width:50%; 
           padding:0 15px ;           
       }
     
       .headr{
           width:50%;
       }
       
       .info-list{
           width:50%;
           margin-top: 25px;
       }
       
       .download-cv{
           width:50%;
       }
       .about-img , .shared{
        padding:0 15px ;           
       }

       .info-list ul li{
        font-size:14px;
        margin-bottom: 15px;

    }
    .download-cv{
        margin-top: 10px;
    }
}

/* services section */
 
.services{
    background-color: #f1f1f1;
    padding: 80px 0 34px;
}

.border1 , .border3{
    width:60px;
    height: 1px;
    background-color: #ff305b;
    margin: auto;
}
.border2{
    width:140px;
    height: 2px;
    background-color: #ff305b;
    margin: 5px 0;
}

.borders{
    width:10%;
    margin: auto;
    padding-top: 15px;
}

.header3{
    width:100%;
    text-align: center;
    font: 30px 'Source Sans Pro', sans-serif;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    width:25%;
    float: left;
    text-align: center;
    padding: 25px 15px;
}

.content .content1{
    padding: 40px 10px;

}

.content1 img , .content1{
    transition:  0.5sec 0.5sec scale;
}

.content1:hover{
    background-color: white;
}

.content1:hover img{
    transform:scale(1.3);

}
.content h3{
    font: 24px 'Source Sans Pro', sans-serif 600;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.content .cap{
     width:38px;
    height:48px; 
    padding-bottom: 20px;
}

.content p{
    font: 16px 'source Sans Pro', sans-serif ;
    color:#555555
}

@media screen and (max-width:768px){
    
    .services{
        padding: 60px 0 25px;
    }
    
    .border2{
        margin: 4px 0;
    }
    
    .borders{
        width:30%;
    }
    
    .header3{
        font-size: 25px;
    }
    
    .content{
        width:100%;
        padding: 35px 25px;
    }
    
    .content h3{
        font-size: 26px;
    }
}

/* hover */


@media screen and (min-width:769px) and (max-width:992px){

    .services{
        padding: 60px 0 25px;
    }
    
    .border2{
        height: 1px;
        margin: 4px 0;
    }
    
    .borders{
        width:19%;
    }
    
    .header3{
        width:100%;
        font-size: 25px;
    }
    
    .content{
        width:50%; 
        padding: 35px 25px;      
    }
    
    .content h3{
        font-size: 24px;
    }
    
    .content p{
        font-size: 17px  ;
    }
}

@media screen and (min-width:993px) and (max-width:1111px){
  .container{
      width:100%;
  }
  .borders{
    width:15%;
 }
}

/* portfolio section */


.portfolio{
    padding: 80px 0 0px;
}

.btns{
    margin-bottom: 50px;
}
.btns .btn{
    border: none;
    outline: none;
    padding: 3px 12px;
    background-color: rgba(0,0,0,0);
    font:16px 'source Sans Pro', sans-serif  400;
    text-transform: uppercase;
}

.portfolio-img{
    width:33.3333%;
    float: left;
    padding: 15px 0;
    position: relative;
}
.portfolio-img img{
    width:100%;   
}


/* media query */

@media screen and (max-width:768px){

    .portfolio{
        padding: 60px 0 0px;
    }
    
    .btns{
        margin: 30px 0;
    }
    .btns .btn{
        font-size:18px ;
    }
    
    .portfolio-img{
        width:100%;        
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    
    .container{
        width: 80%;
        margin: auto;
    }
    .portfolio{
        padding: 60px 0 0px;
    }
    
    .btns{
        margin: 25px 0;
    }
    .btns .btn{
        font-size:18px ;
    }
    
    .portfolio-img{
        width:50%;        
    }
}

/* counter section */

.facts{
    background-color:#f1f1f1;
    padding: 80px 0;
    margin-bottom: 50px;
}

.counter{
    width:25%;
    float: left;
    text-align: center;
}

.counter img{

    width:28px;
    height: 28px;
    margin-bottom: 10px;
}

.counter h3{
color:#333333;
font-size:26px;
font-weight:800;
margin-bottom: 10px;
}

.counter h5{
    color:#555555;
    font: 16px 'source Sans Pro', sans-serif ;
    font-weight: 600;
}

/* media query */

@media screen and (max-width:768px){
    
/* counter section */

.facts{
    padding: 60px 0;
}

.counter{
    width:100%;
    margin-bottom: 30px;
}

}

@media screen and (min-width:769px) and (max-width:992px){

    .container{
        width:90%;
        margin: auto;
    }
}
/* blog section */

.blog{
    padding: 80px 0;
    background-color: #f1f1f1;
}

.blog-content{
    width:33.33%;
    float: left;
    padding: 0 15px;
}

.blog-content img{
  width:100%;
}

.blog-content .vid{
    width:100%;
    height: 210px;
}
.blog-content .date{
    color:#555555;
    font:16px   'Roboto', sans-serif;
    margin-bottom: 10px;
}

.blog-info{
    padding: 20px;
    background-color: white;
}

.blog-info .anchor1 {
    color:#333333;
    font:24px 'source Sans Pro', sans-serif;
    text-decoration: none;
    font-weight:700 ;
}

.blog-info p{
    color:#555555;
    font: 16px 'Roboto', sans-serif;
    margin: 15px 0;
    line-height: 1.5em;
}
.anchor1 , .anchor2{
  transition: 1sec color;
}

.blog-info .anchor2{
    color: #555555;
    font:16px   'Roboto', sans-serif;
    text-decoration: none;
}
/* hover */

.anchor1:hover,.anchor2:hover{
    color: crimson;
}

/* media query */

@media screen and (max-width:768px){

    /* blog section */

.blog{
    padding: 60px 0;
 }

.blog-content{
    width:100%;
    margin-bottom: 30px;
 }
}

@media screen and (min-width:769px) and (max-width:820px){

    .container{
        width:100%;
    }

    .blog-content .vid{
        height: 125px;
    }

    .blog-info{
        padding: 12px;
    }

    .blog-info .anchor1 {
        font-size:20px;
        font-weight:600 ;
    }
}

@media screen and (min-width:821px) and (max-width:992px){
   
    .container{
        width:90%;
        margin: auto;
    }
    .blog-content .vid{
        height: 125px;
    }

    .blog-info .anchor1 {
        font-size:18px;
        font-weight:600 ;
    }
}

/* contact section */

.contact{
    padding: 80px 0;
}
.form-content{
    width:50%;
    margin: auto;
}

.inp1 {
    width:50%;
    float: left;
}

.inp2 {
    width:100%;
}
.area1{
    padding-right: 15px;
}
.area2{
    padding-left: 15px;
}

.message {
    width:100%;
}

.input , .input2 , .area{
    width:100%;
    padding: 6px 12px;
    border-radius: 4px;
    color:#555;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #fff;
    border:1px solid #ccc;
}
.inp1 , .inp2 , .message{
    margin-bottom: 20px;
}


.butn .butn1{
    padding: 0 20px;
    height: 40px;
    background-color: #ff305b;
    color: #ffffff;
    line-height: 38px;
    border-radius: 4px;
    border: 1px solid #ff305b;
    font-size: 14px;
    font-weight: 400;
}

/* media query */

@media screen and (max-width:768px){

    .contact{
        padding: 80px 0;
    }
    .header3{
        font-size: 22px;
    }
    .form-content{
        width:100%;
    }
    
    .inp1 {
        width:100%;
    }
    
    .inp2 {
        width:100%;
    }
    .area1 , .area2{
        padding:0px;
    }
    
    .message {
        width:100%;
    }
   
    .inp1 , .inp2 , .message{
        margin-bottom: 25px;
    }
}

@media screen and (min-width:769px) and (max-width:992px){

.container{
    width:80%;
    margin: auto;
}
    
.contact{
    padding: 60px 0;
}
.form-content{
    width:100%;
}

}

@media screen and (min-width:993px) and (max-width:1199px){
    .container{
        width:60%;
        margin: auto;
    }
        
    .contact{
        padding: 60px 0;
    }
    .form-content{
        width:100%;
    }
    
}

/* footer section */

.footer-area{
    background: #333333;
    padding: 50px 0;
    overflow: auto;
}

.footer-content{
    text-align: center;
    width: 30%;
    margin: auto;
}

.footer-content ul{
    list-style-type: none;
}

.footer-content .l1{
    width:50%;
    margin:auto;
}

.footer-content li{
    float: left;
    padding: 5px;
}

.footer-content img{
    width: 25px;
    height: 30px;
}

.footer-content p{
    color: #ffffff;
    padding-top: 5px;
    font:15px 'Roboto', sans-serif;
}
.footer-content p a{
    color: #ff305b;
    text-decoration: none;
    font-weight: 500;
    transition: a11 0.3;
}

/* hover */
.footer-content a:hover{
    text-decoration: underline;
}

/* media query */

@media screen and (max-width:768px){

    .footer-area{
        padding: 40px 0;
    }
    
    .footer-content{
        width: 100%;
    }

    .footer-content li{
        padding: 10px;
    }
    
}

@media screen and (min-width:769px) and (max-width:992px){

    .footer-area{
        padding: 40px 0;
    }
    
    .footer-content{
        width: 100%;
    }

    .footer-content li{
        padding: 10px;
    }

    .footer-content ul{
        padding-left: 50px;
    }
}

@media screen and (min-width:993px) and (max-width:1199px){
    .footer-content{
        width: 100%;
    }
    .footer-content ul{
        padding-left: 60px;
    }
}